
/* For this CSS to work, the header html should look like this:

- This CSS need the 'cards.css' to work -

<header id="content-header">
    <div class="top-banner">

    </div>

    <div class="inputs">
        <div class="card">
            <div class="basin">
                <span>Basin</span>
                <select id="basin-combo">

                </select>
            </div>
            <div class="gage">
                <span>Gage</span>
                <select id="gage-combo">

                </select>
            </div>
            <div class="begin">
                <span>Bagin Date</span>
                <input type="date" id="begin-date">
            </div>
            <div class="end">
                <span>End Date</span>
                <input type="date" id="end-date">
            </div>
        </div>
    </div>
    <div class="information">
        <div class="card">
            <table id="info-table">
                <thead>
                    <tr>
                        <th colspan="2">Available POR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Start Date</td>
                        <td>End Date</td>
                    </tr>
                    <tr>
                        <td class="date">09/25/1991</td>
                        <td class="date">06/24/2024</td>
                    </tr>
                </tbody>
            </table>
            <p>Data type: <strong>Stage</strong></p>

            <div class="checkbox">
                <div class="daily">
                    <input type="checkbox" id="daily-check">
                    <label for="daily-check"></label>
                    <p>Daily</p>
                </div>
                <div class="hourly">
                    <input type="checkbox" id="hourly-check">
                    <label for="hourly-check"></label>
                    <p>Hourly</p>
                </div>
            </div>
        </div>
    </div>
</header>

*/

#content-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4em 1fr;
    grid-template-areas: 
    "banner banner"
    "inputs info";
    width: 100%;
    height: 28em;
    background: var(--background-color-1);
    box-shadow: 5px 5px 15px var(--shadow-color-1);
    color: var(--font-color-1);
}

/*============= Top Banner ====================*/

#content-header .top-banner {
    grid-area: banner;
    width: 100%;
    height: 100%;
    background: var(--banner-color-1);
}

/*=========== Inputs Section ==================*/
#content-header .inputs {
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#content-header .inputs div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#content-header .inputs span {
    font-size: 1em;
}

#content-header .inputs div select {
    height: 2em;
    width: 30em;
    outline: none;
    box-shadow: 2px 2px 5px var(--shadow-color-1);
    padding-left: 1em;
}

#content-header .inputs div input[type='date'] {
    width: 10em;
    height: 2em;
    outline: none;
    border: 1px solid rgb(107, 107, 107);
    padding-left: 2em;
    box-shadow: 2px 2px 5px var(--shadow-color-1);
}

/*=========== Information Section =============*/
#content-header .information {
    width: 100%;
    height: 100%;
    grid-area: info;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#content-header .information table {
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    box-shadow: inset 2px 2px 5px var(--shadow-color-1);
}

#content-header .information table th {
    font-weight: 800;
    font-size: 1.2em;
}

#content-header .information table tbody tr:first-child {
    font-weight: 600;
}

#content-header .information table td {
    text-align: center;
    padding: 0.2em 1em;
    box-shadow: 2px 2px 5px var(--shadow-color-1);
}

#content-header .information p {
    color: var(--font-color-1);
    text-align: center;
}

/*--- Checkbox ---*/
#content-header .information .checkbox {
    display: flex;
    margin: auto;
    gap: 5em;
}

#content-header .information .checkbox div {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#content-header .information .checkbox input {
    display: none;
}

#content-header .information .checkbox label {
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid #656565;
    border-radius: 0.2em;
    background: white;
    box-shadow: inset 0 0 4px var(--shadow-color-1);
    cursor: pointer;
}

#content-header .information .checkbox p {
    text-align: center;
    margin: 0;
    font-weight: 600;
}

#content-header .information .checkbox input:checked ~ label {
    border: 2px solid var(--banner-color-1);
    box-shadow: inset 0 0 4px var(--shadow-color-1);
}

#content-header .information .checkbox input:checked ~ label::before {
    position: absolute;
    content: '';
    width: 0.2em;
    height: 0.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.1em;
    border: 0.3em solid var(--banner-color-1);
}
