
.custom-combobox {
    --clr: rgb(11, 44, 190);
    position: relative;
    width: 350px;
    height: 2em;
}

/* Inactive dropbox */
.custom-combobox label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1em;
    box-shadow: 0 0 5px var(--clr);
    cursor: pointer;
    transition: 1s;
}

.custom-combobox label span {
    font-size: 1em;
    cursor: pointer;
}

.custom-combobox label span::before {
    position: absolute;
    content: '';
    width: 0.5em;
    height: 0.5em;
    right: 1em;
    top: 0.5em;
    border-top: 0.2em solid var(--clr);
    border-left: 0.2em solid var(--clr);
    transform: rotate(-135deg);
    transition: 0.5s;
    cursor: pointer;
}

/* Active dropbox */
.custom-combobox label.active span::before {
    top: 0.75em;
    transform: rotate(45deg);
    transition: 0.5s;
}

.custom-combobox label.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: 1s;
}

.custom-combobox label.active::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 95%;
    height: 0.05em;
    background: var(--clr);
    transition: 1s;
}


/*============ List Style =============*/
/* Inactive List*/
.custom-combobox ul {
    pointer-events: none;
    position: absolute;
    background: white;
    top: 0em;
    left: 0;
    right: 0;
    padding-top: 2.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 4px 10px var(--clr);
    opacity: 0;
    transition: 0.5s;
}

.custom-combobox ul a {
    position: absolute;
    width: 100%;
    top: -1.5em;
    left: 0;
    right: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: black;
    opacity: 0;
}

.custom-combobox ul a li {
    padding: 0;
}

/* Active List*/
.custom-combobox ul.active {
    pointer-events: all;
    background: white;
    top: 1em;
    left: 0;
    right: 0;
    padding: 0;
    padding-top: 2.5em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    opacity: 1;
    transition: 0.5s;
}

.custom-combobox ul.active a {
    position: relative;
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: black;
    opacity: 1;
}

.custom-combobox ul.active a li {
    padding: 0.5em;
}

.custom-combobox ul.active a:hover > li {
    color: white;
    background: var(--clr);
}
